:root {
  /* gray */
  --color--black: #000000;
  --color--gray-darker: #000000; /* navbar */
  --color--gray-dark: #000000; /* aside */
  --color--gray: #333333; /* aside hover & content & title hover */
  --color--gray-light: #777777; /* aside content hover & border */
  --color--gray-lighter: #e8e8e8; /* explain */
  --color--white: #ffffff;

  /* blue - main visual */
  --color--blue-darker: #000000; /* bg */
  --color--blue-dark: #555555; /* title & meta border*/
  --color--blue: #cccccc; /* meta */
  --color--blue-light: #eeeeee; /* text hover & dir hover */
  --color--blue-lighter: #ffffff; /* text */

  /* transparent */
  --color--shadow: #ffffff80;
  --color--tooltip: #eeeeeef0;
}